
@{
    ViewData["Title"] = "Hot Desc";
}


<div class="text-center">
    <p class="display-6 m-5">Workplace has been reserved successfully.</p>

    <a class="btn btn-primary px-3 w-25" asp-controller="Home" asp-action="Index">Back to home page</a>
</div>
