@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-3 m-3">Welcome</h1>
    <p class="display-6 m-3">Reserve workplace and equipment in the office.</p>
    <a type="button" class="btn btn-primary px-3 py-2" asp-controller="HotDesc" asp-action="Index">Go to the reservation -></a>
</div>
