@{
    ViewData["Title"] = "Instruction";
}

<div>
    <p class="display-6 m-5 text-center">Workplace booking instructions:</p>
    <ul>
        <li>Select yourself from the user lists. If you are not there, create your account.</li>
        <li>Choose the date you want to work in the office.</li>
        <li>Choose the equipment you will need for work.</li>
        <li>Select an available workplace. If there is none, choose another date or change the equipment.</li>
        <li>Book the selected workplace.</li>
    </ul>
</div>